<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="UTF-8" />
		<link href="../resume_base.css" rel="stylesheet" />
		<link href="../resume2.css" rel="stylesheet" />
		<title> Ian Hunter </title>
	</head>
	<body>
		<div class="contact-container">
			<h1>
				Ian Hunter
			</h1>
			<ul>
                <li class="contact-item">
                    <a
                        href="mailto:ihunter2839@gmail.com">
                        ihunter2839@gmail.com
                    </a>
                </li>
                <li class="contact-item">
                    <a
                        href="tel:18312075291">
                        831.207.5291
                    </a>
                </li>
                <li class="contact-item">
                        San Juan Bautista, CA
                </li>
                <li class="contact-item">
                    <a
                        href="https://ihunter2839.com/about.html"
                        target="_blank"
                        rel="noopener nofollow noreferrer">
                        ihunter2839.com
                    </a>
                </li>
			</ul>
			<div class="horizontal-separator">
			</div>
		</div>
		<div class="content-container">
			<div class="left-col">
				<div class="education-container">
					<h2>
						Education
					</h2>
					<div class="title-row">
						<h3>
							{{ education.school }}
						</h3>
						<p>
							{{ education.major }}
						</p>
						<time class="date-range">
							{{ education.start }} - {{ education.end }}
						</time>
					</div>
					<p class="education-description">
						{{ education.description }}
					</p>
				</div>
				<div class="experience-container">
					<h2>
						Experience
					</h2>
					<ul class="experience-list">
						{% for experience in experiences %}
							<li>
								<div class="title-row">
									<h3>
										{{ experience.role }} - {{ experience.company }}
									</h3>
									{% if experience.city %}
									<p class="location">
										{{ experience.city }}, {{ experience.state }}
									</p>
									{% endif %}
									<time class="date-range">
										{{ experience.start }} - {{ experience.end }}
									</time>
								</div>
								{% if experience.link %}
									<a 
			                            href="https://organizeapp.org"
			                            rel="noopener noreferrer nofollow"
			                            target="_blank">
			                            {{ experience.link }}
			                        </a>
								{% endif %}
								{% for description in experience.descriptions %}
									<p>
										{{ description }}
									</p>
								{% endfor %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="right-col">
				<h3>
					Skills
				</h3>
				<ul class="skills-container">
					{% for skillset in skills %}
						<li class="skills-item">
							<h4>
								{{ skillset.title }}
							</h4>
							<p>
								{{ skillset.skills }}
							</p>
						</li>
					{% endfor %}
				</ul>
				<h3>
					Other
				</h3>
				<ul class="other-container">
					{% for other in others %}
						<li class="other-item">
							<h4>
								{{ other.company }} - {{ other.role }}
							</h4>
							<p>
								{{ other.description }}
							</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html>