<!DOCTYPE html>
<html class="document_base">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <link href="./resume_base.css" rel="stylesheet" />
        <link href="./resume.css" rel="stylesheet" />
    </head>
	<body>
        <div class="personal-info">
            <div class="left-col">
                <h1>
                    Ian Hunter
                </h1>
                <p>
                    Objective: {{ objective }}
                </p>
            </div>
            <ul class="contact-container">
                <li class="contact-item">
                    <a
                        href="https://github.com/ihunter2839"
                        target="_blank"
                        rel="noopener nofollow noreferrer">
                        github.com/ihunter2839
                    </a>
                </li>
                <li class="contact-item">
                    <a
                        href="mailto:ihunter2839@gmail.com">
                        ihunter2839@gmail.com
                    </a>
                </li>
                <li class="contact-item">
                    <a
                        href="tel:18312075291">
                        831.207.5291
                    </a>
                </li>
                <li class="contact-item">
                        San Juan Bautista, CA
                </li>
                <li class="contact-item">
                    <a
                        href="https://ihunter2839.com"
                        target="_blank"
                        rel="noopener nofollow noreferrer">
                        ihunter2839.com
                    </a>
                </li>
            </ul>
        </div>
        <div class="skills-container">
            <h2>
                Skills
            </h2>
            {% for skill in skills %}
                <span class="skills {{skill.type}}">
                    {{ skill.skill }}
                </span>
            {% endfor %}
        </div>
        <h2>
            Experience
        </h2>
        <ul class="experience-container">
            {% for experience in experiences %}
                <li>
                    <div class="title-row">
                        <h3>
                            {{ experience.role }} - {{ experience.company }}
                        </h3>
                        <p class="location">
                            {{ experience.city }}, {{ experience.state }}
                        </p>
                        <p class="date-range">
                            {{ experience.start }} - {{ experience.end }}
                        </p>
                    </div>
                    {% if experience.link %}
                        <a 
                            href="https://organizeapp.org"
                            rel="noopener noreferrer nofollow"
                            target="_blank">
                            {{ experience.link }}
                        </a>
                    {% endif %}
                    {% for description in experience.descriptions %}
                        <p> {{ description }} </p>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
        <h2>
            Education
        </h2>
        <div class="title-row">
            <h3> 
                {{ education.school }} 
            </h3>
            <h4>
                {{ education.major }}
            </h4>
            <p class="date-range">
                {{ education.start }} - {{ education.end }}
            </p>
        </div>
        <p>
            {{ education.description }}
        </p>
        <div class="title-row">
            <p>
                {{ education.other.description }}
            </p>
            <p class="date-range">
                {{ education.other.start }} - {{ education.other.end }}
            </p>
        </div>
        <h2>
            Other
        </h2>
        <div class="title-row">
            <h3> 
                {{ other.role }} - {{ other.company }}
            </h3>
            <p class="location">
                {{ other.city }}, {{ other.state }}
            </p>
            <p class="date-range">
                {{ other.start }} - {{ other.end }}
            </p>
        </div>
        <p>
            {{ other.description }}
        </p>
	</body>
</html>